<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @entry.name %>
</p>

<p>
  <strong>Abstract:</strong>
  <%= @entry.abstract %>
</p>

<p>
  <strong>Description:</strong>
  <%= @entry.description %>
</p>

<p>
  <strong>Tech:</strong>
  <%= @entry.tech %>
</p>

<p>
  <strong>Client:</strong>
  <%= @entry.client %>
</p>

<p>
  <strong>Url:</strong>
  <%= @entry.url %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
