<p id="notice"><%= notice %></p>

<%= turbo_frame_tag "entry" do %>
  <p>
    <strong>Name:</strong>
    <%= @entry.name %>
  </p>
  
  <p>
    <strong>Abstract:</strong>
    <%= @entry.abstract %>
  </p>

  <p class="turbo-child"><%= link_to "More", entry_path(@entry) %></p>
<% end %>

<p>
  <strong>Description:</strong>
  <%= @entry.description %>
</p>

<p>
  <strong>Tech:</strong>
  <%= @entry.tech %>
</p>

<p>
  <strong>Client:</strong>
  <%= @entry.client %>
</p>

<p>
  <strong>Url:</strong>
  <%= @entry.url %>
</p>

<%= link_to 'Back', entries_path %>
